:root {
	--bgm: #232A2E;
	--bgd: #2D353B;
	--bgl: #3D484D;
	--fg: #D3C6AA;
	--red: #E67E80;
	--orange: #E69875;
	--yellow: #DBBC7F;
	--green: #A7C080;
	--aqua: #83C092;
	--blue: #7FBBB3;
	--purple: #D699B6;
}

@font-face {
    font-family: FontNoto;
    src: url(../assets/fonts/NotoSansMono-VariableFont_wdth\,wght.ttf);
}

/* 
<weight>: from 100 to 900
<width>: from 62.5 to 100 
*/
* {
	font-family: FontNoto;
	font-optical-sizing: auto;
	font-style: normal;
	/* font-weight: 500; */
	font-variation-settings:
		"wdth" 80;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--fg);
}

body {
	background-color: var(--bgm);
}

header {
	padding: 1vh;
}

header div {
	height: 100%;
	width: 100%;
}

section {
	background-color: var(--bgm);
	box-sizing:border-box;
	padding: 1vh;
	display: flex;
}

div.thirds {
	padding: 1vh;
	margin: 1vh;
	width: 100%;
	background-color: var(--bgd);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.wrapper {
	display:flex;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

#demo .draggable-element {
	margin: 1%;
	background: var(--bgl);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

h1 {
	width: 100%;
	text-align: center;
	font-weight: 600;
	color: var(--green);
}

#load {
	display: none;
}

.custom-button {
	float: left;
	text-decoration: none;
	color: var(--bgm);
	border: none;
	cursor: pointer;
	padding: 1%;
	margin: 1%;
	background: var(--green);
	border-radius: 10px;
	font-size: 1rem;	
}

.custom-button:focus-visible {
	outline: var(--green) 2px solid;
	outline-offset: 2px;
}

.title, .cont {
	padding: 2%;
}

.rule {
	white-space:nowrap;
}

.name {
	padding:0.5%;
	height: 100%;
	width: 70%;
	font-size: 1rem;
    outline:none;
	border: None;
	color: var(--green);
	background: var(--bgd);
	border-radius: 10px;
}

.title-btns {
	float: right;
	height: 100%;
}

.title button {
	height: 100%;
	margin: 0 2px;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	float:left;
	border: None;
	background-color: Transparent;
	box-shadow: none;
	color: var(--green);
    outline:none;
	cursor: pointer;
}

.title button:focus-visible {
	color: var(--orange);
}

/* Textarea is not rendering IPA characters correctly as monospace, even though the font supports them */
textarea {
	font-size: 1rem;
    width: 100%;
	resize: vertical;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: FontNoto !important;
	font-optical-sizing: none !important;
	font-variation-settings:
		"wdth" 80;
	background: var(--bgd);
	color: var(--green);
	border-radius: 10px;
	outline:none;
	border: None;
}

#lexicon,
#output {
	background: var(--bgl);
	color: var(--fg);
	border-radius: 5px;
	width:100%;
	font-size: 1.2rem;	
	field-sizing: content;
	min-height: 80%;
}

input:focus,
textarea:focus {
	/* box-shadow: inset 0 0 3px 2px #181818; */
	box-shadow: inset 0 0 1px 1px var(--green);
	outline:none;
}

input::placeholder,
textarea::placeholder {
	color:var(--fg);
}


.options {
	padding: 1% 0 0 2%;
	/* width:100%; */
	overflow:hidden;
	font-size: 15px;
}

label {
	margin: 0 10px 0 0 ;
}

/* .keyblock {
} */

a {
	color: #a7c080;
}


.invisible{
    display:none !important;
}


footer {
	margin: 2vh;
}


@media screen and (max-width: 900px) {
	section {
		flex-direction: column;
		padding: 1vw;
		width: 100%;
	}

	.thirds {
		width: auto !important;
	}
}