@import "./themes.css";

@font-face {
    font-family: FontNoto;
    /* src: url(/NotoSansMono-VariableFont_wdth_wght.ttf) format(truetype) tech(variations); */
    src: url(../fonts/NotoSansMono-VariableFont_wdth_wght.ttf) format(truetype) tech(variations);
}

* {
	font-family: FontNoto;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 80;
}

html { scrollbar-gutter: stable !important; }

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--primary-fg);
	background-color: var(--primary-bg);
}

header {
	padding: 1vh;

	div {
		height: 100%;
		width: 100%;
	}
}

section {
	background-color: var(--primary-bg);
	box-sizing:border-box;
	padding: 1vh;
	display: flex;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: sticky;
	top: 0;
	background-color: var(--thirds-bg);
	z-index: 9;
}

h1 {
	width: 100%;
	text-align: center;
	font-weight: 600;
	color: var(--accent);
}

code {
	background-color: var(--rule-bg);
	border-radius: 0.6ch;
	padding-left: 0.6ch;
	padding-right: 0.6ch;
}

a,b { color: var(--accent); }

a:focus-visible {
	border: transparent solid 0px;
  	border-radius: 1rem;
	outline: var(--accent) 2px solid;
	outline-offset: 5px;
	text-decoration: none;
}

p {
    word-break: break-all;
    white-space: normal;
}

footer { margin: 2vh; }

/* Firefox */
::-moz-selection { background: var(--select-bg) !important; }
  
::selection { background: var(--select-bg) !important; }

.change-wrapper  {
	padding: 1rem;
    margin: 1% auto;
    max-width: 1800px;
    background-color: var(--rule-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
	font-size: 1.05rem;


	h2 { color: var(--accent); margin-block: 0px; }
	h3 { color: var(--accent); }
	h4 { color: var(--accent); margin-bottom: 0px; }

	.change-body {
	
		.version:not(:last-child) {
			margin-bottom: 1rem;
		}

		.version {
			background-color: var(--xput-bg);
			padding: 1rem;
			
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 10px;
		}
	}
}


@media screen and (max-width: 1800px) {
	.change-wrapper {
		margin: 0;
	    border-radius: 0px;
		box-shadow: none;

	}
}
@media screen and (max-width: 1200px) {

	.change-wrapper h2 {
		justify-self: center;
	}
}
@media screen and (max-width: 720px) {
	.change-wrapper ul {
		padding-inline-start: 1em;
	}
}
