.cm-editor { 
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
	appearance: textarea;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: 1rem;

    font-family: FontNoto !important;
	font-optical-sizing: none !important;
	font-variation-settings: "wdth" 80;
    background: var(--rule-bg);	
    width: 100%;
    border-radius: 10px;
	outline: none;
	border: none;
    white-space: pre !important;

    padding-top: 2px;
    padding-bottom: 2px;

    padding: 2px 0px;

    flex-grow: 1;
	flex-shrink: 0;
    margin-bottom: 5px;
}
#lex-wrap .cm-editor { 
    font-size: 1.2rem;
    background: var(--xput-bg);
    width: 100% !important;
    border-radius: 5px;
}

.cm-editor.cm-focused { 
    box-shadow: inset 0 0 1px 1px var(--accent);
	outline:none;
}

.cm-scroller {
    padding: unset !important;
    overflow: auto !important;
    resize: vertical;
    min-height: 4lh;
    scrollbar-width: thin !important;
    scrollbar-gutter: stable;
	scrollbar-color: var(--accent)  var(--xput-scroll-bg) !important;
}
#lex-wrap .cm-scroller { min-height: 18lh; }

.cm-placeholder {
    color: var(--placeholder) !important;
    overflow: hidden !important;
}

.cm-content {
    caret-color: var(--caret-color) !important;
    min-height: 4lh  !important;
}
#lex-wrap .cm-content { min-height: 18lh  !important; }

.cm-line {
    color: var(--accent);
    width: 1px !important;
}
#lex-wrap .cm-line { color: var(--xput-fg); padding-left: 4px }


#lex-wrap .cm-cursor {
    border-color: var(--xput-fg);
}

#lex-wrap .cm-selectionBackground {
    background: var(--select-bg) !important;
}