@import "./themes.css";

@import "./editor.css";

@font-face {
    font-family: FontNoto;
    /* src: url(/NotoSansMono-VariableFont_wdth_wght.ttf) format(truetype) tech(variations); */
    src: url(../fonts/NotoSansMono-VariableFont_wdth_wght.ttf) format(truetype) tech(variations);
}


/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* 
<weight>: from 100 to 900
<width>: from 62.5 to 100 
*/
* {
	font-family: FontNoto;
	font-optical-sizing: auto;
	font-style: normal;
	/* font-weight: 500; */
	font-variation-settings: "wdth" 80;
}

html {
	scrollbar-gutter: stable !important;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--primary-fg);
	background-color: var(--primary-bg);
}


header {
	padding: .4vw;

	div {
		height: 100%;
		width: 100%;
	}
}

section {
	background-color: var(--primary-bg);
	box-sizing:border-box;
	/* padding: 1vh; */
	display: flex;
}

div.thirds {
	padding: 0.5vw;
	margin: 0.5vw;
	width: 100%;
	background-color: var(--thirds-bg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

div.thirds.sounds {
	width: 160%;
	margin-left: 0;
	margin-right: 0;
}

.title-wrapper {
	display: flex;
	align-items: center;

	h1 { flex-grow: 1; }

	position: relative;

	.minimax {
		height: 100%;
		font-weight: bold;
		font-size: 1.6rem;
		text-align: center;
		border: None;
		background-color: Transparent;
		box-shadow: none;
		color: var(--accent);
		outline:none;
		cursor: pointer;
		padding: 1rem;

		position: absolute;
		
		&.right {
			right: 0;
		}
	}
}


#rule-thing {
	margin: 1%;
	padding: 2%;
	background: var(--rule-box-bg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
}

.hidden-text {
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 920px) {
	#rule-minimax:has(.fa-minus),  
	#input-minimax:has(.fa-minus) {
		display:none !important;
	}
}

#demo {
	/* max-height: 75vh;
	overflow-y: auto;
	scrollbar-width: thin;
	overscroll-behavior: contain;
	scrollbar-gutter: stable !important;
	scrollbar-color: var(--accent)  var(--xput-scroll-bg) !important; */
}

.wrapper {
	overflow: auto !important;
}

.scroller {
	display:flex !important;
	align-items: flex-start;
	justify-items: baseline;
	z-index: 1;
	overflow: auto !important;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: sticky;
	top: 0;
	background-color: var(--thirds-bg);
	z-index: 9;
}

a:focus-visible {
	border: transparent solid 0px;
  	border-radius: 1rem;
	outline: var(--accent) 2px solid;
	outline-offset: 5px;
	text-decoration: none;
}

/* #version-modal-open {
	background: none;
	font: inherit;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
	text-decoration: underline;

	&:focus-visible {
		border: transparent solid 0px;
		border-radius: 1rem;
		outline: var(--accent) 2px solid;
		outline-offset: 2px;
		text-decoration: none;
	}
} */

.draggable-element {
	margin: 1% 0px;
	background: var(--rule-box-bg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	&.traced {
		outline: var(--trace-accent) 2px solid;
		outline-offset: 2px;
	}

	&:focus, &:focus-visible {
		outline: var(--accent) 2px solid;
		outline-offset: 2px;
	}
}

.ignore {
	filter: brightness(80%);
	/* background-color: hsl(199, 12%, 24%) !important; */

	.onoff {
		color: var(--off);
	}
}

h1 {
	width: 100%;
	text-align: center;
	font-weight: 600;
	color: var(--accent);
}

#load, #history-load {
	display: none;
}

.custom-button {
	float: left;
	text-decoration: none;
	color: var(--text-on-accent);
	border: none;
	cursor: pointer;
	padding: 6px 8px;
	margin: .2rem .6rem;
	margin-left: 0px;
	background: var(--accent);
	border-radius: 10px;
	font-size: 1rem;	
}

.custom-button:focus-visible, 
.button-group button:focus-visible,
.button-group a:focus-visible,
.button-group label:focus-visible {
	outline: var(--accent) 2px solid;
	outline-offset: 2px;
}

.custom-button:disabled,
.custom-button[disabled],
.join-left:disabled,
.join-left[disabled],
.join-right:disabled,
.join-right[disabled] {
	filter: brightness(75%);
}



.button-group {
	padding: 0;
	display: inline-block;
	cursor: default;

	> * {
		box-sizing: border-box;
		float: left;
		width: max-content;
		height: 100%;
		text-decoration: none;
		color: var(--text-on-accent);
		border: none;
		cursor: pointer;
		background: var(--accent);
		font-size: 1rem;	
		margin: 0;
		padding: 8px 6px;
	}
	
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* padding: 6px; */
	}
}

.join-left {
	border-radius: 10px 0 0 10px !important;
}

.join-right {
	border-radius: 0 10px 10px 0 !important;
	border-left: 0.1rem solid var(--thirds-bg) !important;
}

.title {
	cursor: move;
	padding: 1%;
}

.cont {
	display: flex;
	flex-direction: column;
	padding: 1%;
	padding-top: 0;
}

.rule {
	white-space: pre !important;
	min-height: 4lh;
	padding: 6px;
}

.description {
	min-height: 4lh;
	padding: 4px;
}

.name {
	padding:0.5%;
	height: 100%;
	width: 70%;
	font-size: 1rem;
    outline:none;
	border: None;
	color: var(--accent);
	background: var(--rule-bg);
	border-radius: 10px;
}

.sortable-ghost {
	visibility: hidden !important;
}

.sortable-drag {
	opacity: 1 !important;
}

.title-btns {
	float: right;
	height: 100%;
}

.maxmin, .delete, .onoff, .clone, #alias-from-toggle {
	height: 100%;
	margin: 0 2px;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	float:left;
	border: None;
	background-color: Transparent;
	box-shadow: none;
	color: var(--accent);
    outline:none;
	cursor: pointer;
}

.maxmin:focus-visible, .delete:focus-visible, .onoff:focus-visible, .clone:focus-visible, #alias-from-toggle:focus-visible {
	outline: var(--accent) 2px solid;
	outline-offset: 2px;
	border-radius: 2px;
}

.alias-title-wrapper {
	display: flex; flex-direction: row; align-items: center;
}

code {
	background-color: var(--rule-bg);
	border-radius: 0.6ch;
	padding-left: 0.6ch;
	padding-right: 0.6ch;
}

textarea, #output {
	font-size: 1rem;
    width: 100%;
	resize: vertical;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: FontNoto !important;
	font-optical-sizing: none !important;
	font-variation-settings:
		"wdth" 80;
	background: var(--rule-bg);
	color: var(--accent);
	border-radius: 10px;
	outline:none;
	border: None;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	scrollbar-color: var(--accent)  var(--xput-scroll-bg) !important;
}

#output {
	background: var(--xput-bg);
	color: var(--xput-fg);
	border-radius: 5px;
	width:100% !important;
	font-size: 1.2rem;	
	white-space: pre !important;
	min-height: 18lh;
}

#output {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
	appearance: textarea;
    padding: 2px;	
	flex-grow: 2;
	flex-shrink: 0;
	display: block;
	overflow: auto !important;
	/* white-space: pre-line; */
	z-index: 0;
}

.out-line {
	/* If we don't have this, the editor doesn't resize correctly! I love CSS! */
	width: 1px !important;
}

input:focus,
textarea:focus,
#output:focus {
	/* box-shadow: inset 0 0 3px 2px #181818; */
	box-shadow: inset 0 0 1px 1px var(--accent);
	outline:none;
}

input::placeholder,
textarea::placeholder,
#output::placeholder {
	color:var(--placeholder);
}

.options {
	padding: 2% 0;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	top: 0;
	position: sticky;
	background-color: var(--thirds-bg);
	z-index: 1;
}

#trace, #format {
	width: 100%;
	font-size: 1rem;
	background-color: var(--xput-bg);
	color: var(--accent);
	border: none;
	border-radius: 4px;
	scrollbar-width: thin;
	height: 1.5lh 
}

#trace:focus-visible, #format:focus-visible {
	outline: 2px solid var(--accent);
}

label { margin: 0 10px 0 0 ; }

a,b { color: var(--accent); }

p {
    word-break: break-all;
    white-space: normal;
}

.invisible {
    display:none !important;
}

dialog {
	z-index: 10;
	background: var(--xput-bg);
	color: var(--xput-fg);
	border:none;
	padding: 0;
	border-radius: 1rem;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	min-width: 40%;
	max-width: 80%;
	top: 20%;
	bottom: auto;
	font-size: 1.05rem;

	&::backdrop {
		background-color: var(--dialog-backdrop);
		opacity: .5;
	}

	h3 { color: var(--accent); }
	header {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		align-items: center;

		h2 { color: var(--accent); margin-block: 0px; }
	}
}

.modal-wrapper {
	padding: 1rem;
}

.modal-content {
	max-height: 50vh;	
	overflow-y: auto;
	scrollbar-color: var(--accent)  var(--modal-bg) !important;
	scrollbar-gutter: stable both-edges;
	scrollbar-width: thin;
	/* To counter chrome gutter width, TODO: firefox */
	margin-left: -.3rem;
	margin-right: -.3rem;
}

#history-modal hr {
	/* background-color: #7A8478; */
	/* height: 1px; */
	border: none;
	border-radius: 10px;
}

#alias-into, #alias-from {
	white-space: pre !important;
	min-height: 6lh;
	padding: .7ch 1ch;
}

.history-item {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	font-size: 1rem;
	margin: 10px 0;
	border-radius: 10px;
	justify-content: center;
	background-color: var(--save-item-bg);
	
	/* margin: 1%; */
	/* background: var(--bg2) */
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	overflow: hidden;
}

.history-item.active {
	background-color: var(--accent);
	color: var(--text-on-accent);
}

.history-item-content {
	width: 100%;
	align-self: center;	
	padding: 1%;
	font-size: 1rem;
	margin-top: 0.4%;
	display: flex;
	align-items: center;
}

.history-item-buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.history-item-buttons button {
	/* height:100%; */
	width: 100%;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 1%;
	margin: 1%;
	margin-top: 0;
	border-radius: 10px;
	font-size: 1rem;
}

.history-item-buttons button:focus-visible {
	outline: var(--accent) 2px solid;
	outline-offset: 2px;
}

/*.active*/ .history-item-buttons button {
	background-color: var(--save-text-bg);
	color: var(--save-text-fg)
}

.active .history-item-buttons button:focus-visible {
	outline-color: var(--save-id-color);
}

.history-id {
	color: var(--save-text-fg);
	background-color: var(--save-text-bg);
	padding: 0.5ch 1ch;
	margin-left: 1ch;
	border-radius: 10px;
	white-space: nowrap;
	/* overflow-x: auto; */
}

.history-id:focus-visible {
	outline: var(--accent) 2px solid;
	outline-offset: 2px;
}

.active .history-id {
	color: var(--accent);
}

.active .history-id:focus-visible {
	outline-color: var(--save-id-save-text-bg);
}

.history-made-time, .history-mod-time {
	cursor: default;
	margin: auto 1ch;
}

.history-id {
	max-width: 30ch;
	overflow-x: auto;
}

footer {
	margin: 2vh;
}

/* Firefox */
::-moz-selection { 
	background: var(--select-bg) !important;
}
  
::selection {
	background: var(--select-bg) !important;
}

/* Firefox */
.custom-button::-moz-selection, 
.join-left::-moz-selection, 
.join-right::-moz-selection,
.history-item-buttons button::-moz-selection { 
	background: var(--select-bg) !important;
	color: var(--select-fg) !important;
}
  
.custom-button::selection, 
.join-left::selection, 
.join-right::selection,
.history-item-buttons button::selection { 
	background: var(--select-bg) !important;
	color: var(--select-fg) !important;
}

.active div *::-moz-selection {
	color: var(--xput-fg);
}

.active div *::selection {
	color: var(--xput-fg);
}

.active .history-id::-moz-selection {
	color: var(--accent);
}

.active .history-id::selection {
	color: var(--accent);
}


.off {
	background-color: var(--off);
}

#alias-from-toggle.off {
	color: var(--off);
}

.grabber {
	display: none;
	cursor: move;
}

@media screen and (max-width: 2400px) {
	div.thirds.sounds {
		width: 260%;
	}
}

@media screen and (max-width: 2000px) {
	dialog {
		min-width: 50%;
		max-width: 60%;
	}
}

@media screen and (max-width: 1600px) {
	dialog {
		min-width: 60%;
		max-width: 80%;
	}
}

/* @media screen and (max-width: 1350px) {
	.name {
		max-width: 70%;
	}
}

@media screen and (max-width: 1300px) {
	.name {
		max-width: 68%;
	}
} */

@media screen and (max-width: 1200px) {
	.name {
		max-width: 68%;
	}
}

@media screen and (max-width: 1100px) {
	.name {
		max-width: 64%;
	}
}

@media screen and (max-width: 950px) {
	.name {
		max-width: 62%;
	}
}

/* Move to vertical format */
@media screen and (max-width: 920px) {
	section {
		flex-direction: column;
		padding: 1vw;
		width: 100%;
	}

	#buttons {
		padding: 0 2%;
	}

	.thirds {
		width: auto !important;
	}
	.sounds {
		margin: 0.5vw !important;
	}

	#output {
		min-height: 4lh;
	}

	#lex-wrap .cm-scroller { min-height: 4lh !important; }
	#lex-wrap .cm-content  { min-height: 4lh !important; }

	#alias-into, #alias-from {
		min-height: 4lh;
	}

	dialog {
		min-width: 93%;
	}

	.modal-wrapper {
		padding: 1rem .5rem;
	}

	.name {
		max-width: 100%;
	}
}

@media screen and (max-width: 720px) {
	.history-id {
		margin-left: 0;
	}
	.history-item-content {
		padding-left: 3%;
		margin-left: 0;
	}

	.name {
		max-width: 65%;
	}
}

/* Small screens */

@media screen and (max-width: 650px) {

	.options {
		padding: 2%;
	}

	.element-asdf {
		display: flex;
		overflow: hidden;

		&.right {
			flex-direction: row-reverse;
		}
	}

	.grabber {
		color: var(--grabber-color);
		display: flex;
		place-items: center;
		padding-left: 4%;
		padding-right: 4%;
	}

	.element-body {
		width: 100%;
	}

	.title {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.name {
		max-width: 100% !important;
		padding-left: 1ch !important;
		padding-right: 1ch !important;
		/* .name overflows its parent for some reason at 100% */
		width: 94% !important; 
	}

	.draggable-element {
		margin-left: 0;
		margin-right: 0;
	}

	.title {
		display: block;
		cursor: default;
		/* width: 100%; */
		margin-right: auto;
	}

	.title-btns {
		display: flex;
		float: none;
		width: 100%;
		justify-content: space-around;
		padding-top: 1%;
		padding-bottom: 0;
	}
}



@media screen and (max-width: 400px) {
	.name {
		width: 91% !important;
	}
}

@media screen and (max-width: 360px) {
	.name {
		width: 90% !important;
	}
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
